/* リセットCSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* 基本的なスタイル */
body {
  font-family: 'Arial', sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
  margin: 0;
  padding: 0;
  transition: background-color 0.3s ease, color 0.3s ease;
}

header {
  text-align: center;
  padding: 20px;
  background-color: var(--header-background);
}

h1 {
  font-size: 2.5rem;
}

#theme-toggle-container {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

button {
  background-color: var(--button-background);
  color: var(--button-text);
  border: none;
  padding: 10px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.2s;
}

button:hover {
  background-color: var(--button-hover);
}

#calendar {
  margin: 20px auto;
  width: 80%;
}

#calendar-controls {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

table {
  width: 100%;
  text-align: center;
}

td {
  padding: 15px;
  cursor: pointer;
  border: 1px solid #ddd;
}

td.today {
  background-color: var(--today-background);
}

td:hover {
  background-color: var(--hover-background);
}

#modal-bg {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
}

#modal-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  max-width: 400px;
  width: 90%;
}

#modal-close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 1.5rem;
  cursor: pointer;
}

footer {
  text-align: center;
  padding: 20px;
  background-color: var(--footer-background);
}

/* ダークモード */
:root {
  --background-color: #f4f4f4;
  --text-color: #333;
  --header-background: #fff;
  --button-background: #4CAF50;
  --button-text: #fff;
  --button-hover: #45a049;
  --today-background: #f7c8c8;
  --hover-background: #f0f0f0;
  --footer-background: #f1f1f1;
}

/* ダークモード */
body[data-theme='dark'] {
  --background-color: #333;
  --text-color: #fff;
  --header-background: #444;
  --button-background: #ff6347;
  --button-text: #fff;
  --button-hover: #e94e77;
  --today-background: #ffdfdf;
  --hover-background: #555;
  --footer-background: #444;
}
